/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// This is QUERTY map

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        td_caps: tap_dance_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  +=   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |   '   |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   \|  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESC   &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                        &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &kp EQUAL
&kp TAB   &kp Q   &kp W     &kp E     &kp R      &kp T                         &kp Y   &kp U      &kp I      &kp O     &kp P     &trans
&kp APOS  &kp A   &kp S     &kp D     &kp F      &kp G                         &kp H   &kp J      &kp K      &kp L     &kp SEMI  &kp BSLH
&td_caps  &kp Z   &kp X     &kp C     &kp V      &kp B   &trans     &none      &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                  &kp LGUI  &kp LALT  &kp LCTRL  &tog 1  &kp RET    &kp SPACE  &tog 2  &kp RCTRL  &kp RALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // | RGB_TOG |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |       |  {[  |   ]}  |       |
            // |         |  F8 |  F9 | F10  | F11  | F12  |                   |      |       | VL_UP |      | C_PP  |       |
            // |         |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    | VL_DN |  (   |   )   |       |
            // |         |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    | MUTE  |  :   |   \   |       |
            //                 |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans  &kp F1  &kp F2  &kp F3   &kp F4   &kp F5                     &trans  &trans  &trans        &kp LBKT  &kp RBKT  &trans
&trans  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12                    &trans  &trans  &kp C_VOL_UP  &trans    &kp C_PP  &rgb_ug RGB_TOG
&trans  &trans  &trans  &trans   &trans   &trans                     &trans  &trans  &kp C_VOL_DN  &trans    &trans    &trans
&trans  &trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans  &trans  &kp C_MUTE    &trans    &kp BSLH  &trans
                &trans  &trans   &trans   &trans   &trans    &trans  &trans  &trans  &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |  {[  |   ]}  |  -_   |
            // |     | INS  | PSCR | GUI   |       |      |                | PGUP | HOME |   ^   | END  | C_PP  |  DEL  |
            // | `~  | ALT  | CTRL | SHIFT |       |      |                |      |   <- |   v   |  ->  |       |       |
            // |     | UNDO | CUT  | COPY  | PASTE |      |      |  |      | PGDN |      |       |      |       |       |
            //              |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans     &trans      &trans     &trans       &trans       &trans                     &trans         &trans    &trans    &kp LBKT   &kp RBKT  &kp MINUS
&trans     &kp INS     &kp PSCRN  &kp K_CMENU  &trans       &trans                     &kp PG_UP      &kp HOME  &kp UP    &kp END    &trans    &trans
&kp GRAVE  &trans      &trans     &trans       &trans       &kp DEL                    &kp BACKSPACE  &kp LEFT  &kp DOWN  &kp RIGHT  &trans    &trans
&trans     &kp K_UNDO  &kp K_CUT  &kp K_COPY   &kp K_PASTE  &trans   &trans    &trans  &kp PG_DN      &trans    &trans    &trans     &trans    &trans
                       &trans     &trans       &trans       &trans   &trans    &trans  &trans         &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
